@page
@model MenuModel
@{
  ViewData["Title"] = "Menu del giorno";

}
<h1>@ViewData["Title"]</h1>

<div class="container my-5 ">
  <div class="row p-2" style="border-bottom: 2px solid">
    <div class="col-md-1">
      <b>
        Num.
      </b>
    </div>
    <div class="col-md-8">
      <b>
        Nome
      </b>
    </div>
    <div class="col-md-2">
      <b>
        Prezzo
      </b>
    </div>

  </div>
  <ol>
  @foreach (var piatto in Model.Menu)
  {
    <a asp-page="PiattoSingolo" asp-route-id="@piatto.Id" style="text-decoration: none; color: black">
      <li>
        <div class="row border-bottom p-2">
          <div class="col-md-1"></div>
          <div class="col-md-8">@piatto.Nome</div>
          <div class="col-md-2">@piatto.Prezzo euro</div>
        </div>
      </li>
    </a>
  }
  </ol>

</div>