@page
@model ProdottoModel
@{
    ViewData["Title"] = "Prodotti";
}
<h1>@ViewData["Title"]</h1>

<p>Beccati tutti i prodotti</p>
<ul>
  <li>prodotto</li>
  <li>prodotto</li>
  <li>prodotto</li>
  <li>prodotto</li>
  <li>prodotto</li>
</ul>
