@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <h3>Hai già un account o devi registrarti?</h3>

<div style="display:flex; justify-content:center">
    <a asp-page="Login" class="btn btn-primary">Log In</a>
    <a asp-page="Registrazione" class="btn btn-primary mx-3" >Registrati</a> 
</div>

</div>
