body {
  margin: 80px;
  padding: 80px;
  font-family: Arial;
  font-size: large;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

nav {
  background-color: rgb(160, 17, 17);
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}

nav a:hover {
  background-color: white;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin: 20px;
}

h2 {
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
}
p {
  line-height: 1.5;
  text-indent: 20px;
}

header p {
  text-align: center;
  text-indent: 0;
}


ul {
  list-style-type: none;
}

li {
  text-align:justify;
}

#centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#last-link {
  margin-bottom: 40px;
}
