body {
  margin: 80px;
  padding: 80px;
  font-family: Arial;
  font-size: large;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 40px;
}

nav {
  background-color: rgb(160, 17, 17);
  color: white;
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
}

nav a:hover {
  background-color: white;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
  border-bottom: 3px solid pink;
}

hr{
  border-style: solid;
  width: 100%;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  display: block;
  margin: 20px;
}

h2 {
  text-align: justify;
  line-height: 1.5;
  text-indent: 20px;
}
p {
  line-height: 1.5;
  text-indent: 20px;
}

header p {
  text-align: center;
  text-indent: 0;
}


ul {
  list-style-type: none;
}

li {
  text-align:justify;
}

table {
  border: 1px solid red;
}

div {
  border: 1px solid rgb(0, 0, 0);
  padding: 30px;
  margin: 25px 0;
}


td, th {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  height: 100px;
}

input,
textarea
{
  padding: 10px 20px;
  margin: 10px;
}

select 
{
  padding: 10px 65px;
  margin: 10px;
}

.color-a{
  background-color: rgb(213, 59, 20);
}
.color-b{
  background-color: rgb(92, 147, 173);
}
.color-c{
  background-color: rgb(231, 183, 25);
}


#centro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#last {
  margin-bottom: 40px;
}
